---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <h1 class="font-bold text-4xl text-center p-10">Info</h1>
 <section class="border-10 border-r-[120px] border-stone-300 text-center p-6 md:p-8 mx-auto max-w-[calc(100vw-152px)] md:max-w-3xl mb-10 max-h-[450px] overflow-auto">
  <h2 class="font-bold mb-4">Who are we?</h2>
  <p>
    Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen. Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.
  </p>
</section>

<section class="border-10 border-r-[120px] border-stone-300 text-center p-6 md:p-8 mx-auto max-w-[calc(100vw-152px)] md:max-w-3xl mb-10 max-h-[450px] overflow-auto">
  <h2 class="font-bold mb-4">The judges</h2>
  <p>Submissions will be reviewed by:</p>
  <p>Jonas Hasle (Assistant lecturer, Multimedia Design programme at EK)</p>
  <p>Anders Dollerup (Associate lecturer, Multimedia Design programme at EK)</p>
  <p>Birgitte Heide (Associate lecturer, Multimedia Design programme at EK)</p>
  <p>Stefan Grage (Associate lecturer, Multimedia Design programme at EK)</p>
  <p>Students on the Digital Design Elective on the Multimedia Design programme at EK</p>
</section>



  <section class="flex flex-col items-center md:flex-row justify-center md:space-x-6 space-y-6 md:space-y-0 p-12">
  <img src="judge_1.webp" alt="billede af Jonas" class="w-40 h-50 object-contain border" />
  <img src="judge_2.webp" alt="billede af Anders" class="w-40 h-50 object-contain border md:translate-y-12" />
  <img src="judge_3.webp" alt="billede af Birgitte" class="w-40 h-50 object-contain border" />
  <img src="judge_4.webp" alt="billede af Stefan" class="w-40 h-50 object-contain border md:translate-y-12" />
</section>
    <section class="text-center p-12">
        <h2 class="font-bold text-center">Sponsors</h2>
        <p class="max-w-prose text-center mx-auto">Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. At least so far;-) </p>
        <img src="EK_logo.png" alt="billede af EK logo" class="mx-auto max-w-60">
    </section>

</MainLayout>