---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
<section class="container mx-auto px-4 py-8">
  <h1 class="text-xl font-bold mb-2">SHARE YOUR INSTANTS</h1>
  <h2 class="text-base mb-8">Ready to share your instants? How to participate</h2>

  <div class="flex flex-col gap-8">
    <!-- Step 1 -->
    <div class="flex flex-col gap-2">
      <h3 class="font-semibold">1. TAKE A PHOTO</h3>
      <div class="flex items-center gap-4">
        <img src="/src/assets/images/camera.svg" alt="camera tegning" class="w-15 h-15 shrink-0">
        <p class="text-sm">
          Take a photo of your instant with your smartphone (or scan it for max. quality) – the file should be between 2 - 10 MB, in jpg/jpeg or webp format.
        </p>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="flex flex-col gap-2 ">
      <h3 class="font-semibold">2. FILL OUT THE FORM</h3>
      <div class="flex items-center gap-4">
        <img src="/src/assets/images/upload.svg" alt="upload tegning" class="w-15 h-15 shrink-0">
        <p class="text-sm">
          Upload your photo and credentials in the form.
        </p>
      </div>
    </div>

    <!-- Step 3 -->
    <div class="flex flex-col gap-2">
      <h3 class="font-semibold">3. AGREE TO OUR TERMS</h3>
      <div class="flex items-center gap-4">
        <img src="/src/assets/images/terms.svg" alt="terms tegning" class="w-15 h-15 shrink-0">
        <p class="text-sm">
          Agree to our terms and conditions. The short version: Participants have to be 18+, portrayed persons must have given consent, and you agree that your instant can be exhibited and used to promote the photo contest.
        </p>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="flex flex-col gap-2">
      <h3 class="font-semibold">4. UP TO 5 SUBMISSIONS</h3>
      <div class="flex items-center gap-4">
        <img src="/src/assets/images/submissions.svg" alt="submissions tegning" class="w-15 h-15 shrink-0">
        <p class="text-sm">
          You can make up to 5 submissions – go through step 1-3 for each submission;-)
        </p>
      </div>
    </div>
  </div>
</section>


</MainLayout>