---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <section class="grid grid-cols-5 md:grid-cols-12">
        <h1>Share your instants</h1>
        <h2>Ready to share your instants? How to participate</h2>

    </section>
</MainLayout>