---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <h1>Winners & nominess</h1>
    <p>Instant Day was quite a success with more than 500 contributions. So it was difficult to find a winner. After a couple of long but exciting days, the judges agreed on the winner and the 6 nominees.</p>
    <section>
        <h2>The winner</h2>
        <p>05 - Nørrebro</p>
        <p>Submitter: Julie</p>
        <p>Description/Story: In the vibrant heart of Nørrebro, where the streets buzz with life and culture, Toke finds an unexpected companion—a goat with an attitude as bold as the neighborhood itself. Against the backdrop of colorful murals and bustling cafés, the unlikely duo stands side by side, embodying the spirit of this eclectic part of Copenhagen. Tokes calm curiosity meets the goat’s playful stare, a moment frozen in time that tells a story of connection in the citys urban jungle.</p>
        <img src="winner.webp" alt="winner billede" class="w-40 h-65 object-cover border">
    </section>
    <section>
        <h2>Best of 2025 nominess</h2>
        <img src="nominees_1.webp" alt="billede af nominess 1" class="w-40 h-65 object-cover border">
        <p>01 - Copenhagen cafe</p>
        <p>Submitter: Julie</p>
        <p>Description/story: A casual snap from this cozy café—a welcoming spot full of warmth and creativity. Natural light fills the space, highlighting elegant marble tables and comfortable wicker chairs. The smell of fresh coffee and pastries invites both locals and visitors to relax and enjoy the calm atmosphere. It’s the perfect place to take a break and soak in the unique vibe of the neighborhood. Taken with an Instax Mini.</p>
        <img src="nominees_2.webp" alt="billede af nominess 2" class="w-40 h-65 object-cover border">
        <p>02 - Nørrebro</p>
        <p>Submitter: Toke</p>
        <p>This vibrant building in the heart of Nørrebro stands out with its bold blue and orange colors, reflecting the neighborhood’s lively and creative spirit. The striking contrast catches the eye and adds a splash of energy to the street, embodying the colorful diversity that makes Nørrebro so unique.Taken with a Instax Mini</p>
        <img src="nominees_3.webp" alt="billede af nominess 3" class="w-40 h-65 object-cover border">
        <p>03 - A good friend</p>
        <p>Submitter: Julie</p>
        <p>A moment of true friendship captured in one frame. Two good friends, arm in arm, with smiles that say more than words ever could. No posing, no filters—just connection, comfort, and the kind of bond that doesn’t need explaining.Taken with an Instax Mini</p>
        <img src="nominees_4.webp" alt="billede af nominess 4" class="w-40 h-65 object-cover border">
        <p>04 - Nørrebro</p>
        <p>Submitter: Toke</p>
        <p>Standing proud in front of a rainbow-colored gate—a symbol of love, diversity, and being exactly who you are. The colors speak louder than words, turning an ordinary spot into a celebration of identity and inclusion. A little burst of joy in the middle of the city. Taken with a Instax Mini</p>
    </section>
</MainLayout>